<html>

<head>
  <meta charset="UTF-8" />
  <title>Web Poketalk</title>
  <link rel="shortcut icon" href="img/favicon.png" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <div id="app">
    <header>
      <div id="colorHeader">
        <h1 v-if='outputLang == ""'>Title</h1>
        <h1 v-if='outputLang == "ja"'>日本語翻訳</h1>
        <h1 v-if='outputLang == "en"'>英語翻訳</h1>
        <h1 v-if='outputLang == "zh-cn"'>中国翻訳</h1>
      </div>
    </header>

    <main class="scroll" ref="scrollp">
      <ul>
        <li v-for="log in logs">
          <div v-if="log.speaker=='You'">
            <img src="img/user.png">
            <b class="log">{{ log.speaker }}</b>
            <p>{{ log.text }}</p>
            <hr />
          </div>
          <div v-if="log.speaker=='Chat bot'">
            <img src="img/route66.png">
            <b class="log">{{ log.speaker }}</b>
            <p>{{ log.text }}</p>
            <button @click="say(log.text, log.lang)">しゃべる</button>
            <hr />
          </div>
        </li>
      </ul>
    </main>

    <footer>
      <input v-model="message" type="text" id="autocomplete-input" />
      <select v-model="inputLang">
        <option disabled value="">入力言語選択</option>
        <option value="ja">日本語</option>
        <option value="en">英語</option>
        <option value="zh-cn">中国語</option>
      </select>
      <button id="colorVoiceTrans" v-on:click="startSpeech">
        {{ recognitionText }}
      </button>
      <button id="colorSubmit" v-on:click="submit">送信</button>
      <select v-model="outputLang">
        <option disabled value="">翻訳言語選択</option>
        <option value="ja">日本語</option>
        <option value="en">英語</option>
        <option value="zh-cn">中国語</option>
      </select>
      <div>© 2019 Copyright tabo</div>
    </footer>
  </div>
  <script src="js/app.js"></script>
</body>

</html>