#app {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
}
body {
  text-align: center;
}
main {
  flex: auto;
}
.scroll {
  width: 100%;
  height: 56px;
  overflow: scroll;
}
ul {
  list-style: none;
  text-align: left;
}
